.title {
    font-weight: bold;
    text-align: center;
}

.outline {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(173, 173, 173);
}

.subject {
    font-style: italic;
    text-decoration: underline;
    text-align: left;
}

.body {
    font-family: monospace;
    text-align: justify;
    white-space: pre-line;
}

.messages {
    cursor: pointer;
}